<div class="container" xmlns:style="http://www.w3.org/1999/xhtml">
  <mat-form-field class="result-filter" appearance="legacy">
    <mat-label>Готовность</mat-label>
    <mat-select [(value)]="filterParams.result">
      <mat-option *ngFor="let priority of priorities" [value]="priority">
        {{priority | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox class="priority-filter" name="priority" value="low" (change)="onCheckboxChange($event)">Low</mat-checkbox>
  <mat-checkbox class="priority-filter" name="priority" value="medium" (change)="onCheckboxChange($event)">Medium</mat-checkbox>
  <mat-checkbox class="priority-filter" name="priority" value="high" (change)="onCheckboxChange($event)">High</mat-checkbox>

  <button mat-icon-button class="btn-sort" type="button" (click)="asc = !asc">
    <mat-icon>sort</mat-icon>
  </button>
</div>

<div *ngIf="tasks.length; else emptyBlock">
  <ol>
    <li
      *ngFor="let task of filterTasks()  | orderBy:asc"
      [ngClass]="(task.result === 'done') ? 'done' : ((task.result === 'canceled') ? 'canceled' : 'in-progress')"
    >
      <div class="task">
        <span class="task-priority">{{task.priority}}</span>
        <span class="task-text" [routerLink]="['task', task.id]">{{task.text | titlecase}}</span>
        <button mat-icon-button type="button" (click)="setResult(task.id, 'done')">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="setResult(task.id, 'canceled')">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="task">
        <p class="creation-date">
          <small>Created at {{task.creationDate | date:'medium'}}</small>
        </p>
        <p class="result-date" *ngIf="task.result">
          <small>{{task.result | titlecase}} at {{task.resultDate | date:'medium'}}</small>
        </p>
      </div>
    </li>
  </ol>
</div>

<ng-template #emptyBlock>
  <p *ngIf="error;else noTasksBlock">{{error}}</p>

  <ng-template #noTasksBlock>
    <p>Нет задач!</p>
  </ng-template>
</ng-template>
