<form  class="container" *ngIf="task; else LoadingBlock" [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field class="text-field" appearance="legacy">
      <mat-label>Задача</mat-label>
      <input matInput formControlName="text" [value]="task.text">
    </mat-form-field>

    <mat-form-field class="priority-field" appearance="legacy">
      <mat-label>Важность</mat-label>
      <mat-select [(value)]="task.priority" formControlName="priority">
        <mat-option *ngFor="let priority of priorities" [value]="priority">
          {{priority | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn-off" mat-icon-button type="button" [routerLink]="'/'">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </p>

  <p class="date">
    Created at {{task.creationDate | date:'medium'}}
  </p>
  <p class="date" *ngIf="task.result">
    {{task.result | titlecase}} at {{task.resultDate | date:'medium'}}
  </p>
  <div class="btn-submit">
    <button mat-raised-button type="submit" [disabled]="editForm.invalid">Сохранить</button>
  </div>
</form>

<ng-template #LoadingBlock>
  <p>{{message}}</p>
</ng-template>
