.container{
  min-width: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1px;
  padding: 1px 2px;
}

.text-field{
  width: 60%;
  padding: 1px 2%;
}

.priority-field{
  width: 20%;
  padding: 1px 2%;
}

.btn-off{
  width: 10%;
  padding: 1px 2%;
}

.date{
  margin: 2px 2%;
  text-align: center;
  width: 100%;
}

.btn-submit{
  margin: 0 0 0 auto;
}

mat-form-field{
  padding: 1px 2px;
}
