.container{
  min-width: 400px;
  display: flex;
  flex-flow: row wrap;
  align-item: center;
  justify-content: space-between;
  margin: 1px 2px;
}

.text-field{
  width: 60%;
}

.priority-field{
  width: 20%;
}

.btn-submit{
  width: 10%;
}

mat-icon{
  font-size: 28px;
}
