<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field class="text-field" appearance="legacy">
      <mat-label>Задача</mat-label>
      <input matInput formControlName="text">
    </mat-form-field>

    <mat-form-field class="priority-field" appearance="legacy">
      <mat-label>Важность</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let priority of priorities" [value]="priority">
          {{priority | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button class="btn-submit" type="submit" [disabled]="form.invalid">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
</form>
